@use "variables" as v;

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0
}



a{
    text-decoration: none;
    color: v.$grey-75;

    &.active::after{
        content: " ";
        display: block;
        width: 100%;
        height: 2px;
        background-color: v.$grey-75;
    }
}

body{
    font-family: v.$paragraph;
}

.btn{
    border: 2px solid v.$grey-75;
    height: 2rem;
    border-radius: 1.5rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 
        color .3s ease-in-out,
        border-color .3s ease-in-out,
        background-color .3s ease-in-out
    ;
    color: v.$grey-75;

    &:hover{
        color: white;
        border-color: v.$purple-50;
    }

    &::after{
        content: " ";
        display: block;
        width: 1px;
        height: 1px;
        background-color: white;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        transition: 
            transform .5s ease-in-out,
            background-color .8s ease-in-out;
        z-index: -1;
    }

    &:hover::after{
        transform: scale(375);
        background-color: v.$purple-50;
    }

}

.container{
    padding: 1.5rem;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}


h1, h2, h3, h4, h5, h6{
    font-family: v.$header;
    font-style: normal;
    color: v.$grey-100;
}

.heading h1{
    font-size: 1.125rem;
    margin: 3rem 0;
}

h2{
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.iconPlus{
    position: relative;
    border: 2px solid v.$purple-50;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin: 2rem auto;
}

.iconPlus span{
    position: absolute;
    display: block;
    top: 1.125rem;
    left: .375rem;
    background-color: v.$purple-50;
    height: .125rem;
    width: 1.5rem;
    transition: transform .3s ease-in-out;
}

.iconPlus span:first-child{
    transform: rotate(90deg);   
}

.iconPlus.iconOpen span:first-child{
    
    transform: rotate(0deg);   
}

main.container{
    margin-top: v.$headerHeight;
}

ul{
    list-style: none;
}


