//colors
$grey-100: #393d3e;
$grey-75: #646b6d;
$grey-50: #92999b;
$grey-25: #c2c6c7;
$grey-00: #f2f3f3;

$green-100: #265f5a;
$green-75: #3d9991;
$green-50: #67c2bb;
$green-25: #a0d9d4;
$green-00: #dbf0ef;

$purple-100: #383861;
$purple-75: #545491;
$purple-50: #7e7eb4;
$purple-25: #aeaed0;
$purple-00: #dfdfec;

$yellow-100: #4A3802;
$yellow-75: #A17A05;
$yellow-50: #F7BB08;
$yellow-25: #fad66b;
$yellow-00: #fdf1ce;

$orange-100: #DF5020;
$orange-75: #E5734D;
$orange-50: #EC9679;
$orange-25: #F2B9A6;
$orange-00: #F9DCD2;


// fonts
$header: "acumin-pro", sans-serif;
$paragraph: "Noto Sans JP", sans-serif;

