@use "../base/variables" as v;

.burger{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: v.$white-75;
    border: 1px solid v.$white-50;
    position: relative;
    
    span{
        position: absolute;
        display: block;
        height: 2px;
        border-radius: 1px;
        background-color: v.$grey-100;

        &:first-child{
            width: .8125rem;
            top: .625rem;
            right: .4375rem;
        }

        &:nth-child(2){
            width: 1.5rem;
            top: 1.125rem;
            left: .4375rem;
        }

        &:last-child{
            width: .8125rem;
            bottom: .625rem;
            left: .4375rem;
        }
    }
}

.burger.burger__open{

    span{
        transition: transform .3s ease-in-out;

        &:first-child{
            transform: 
                rotate(-45deg) 
                translateX(-.1875rem)
                translateY(-.1875rem);
            transform-origin: top right;
        }

        &:nth-child(2){
            transform: rotate(45deg);
            transform-origin: center;
        }

        &:last-child{
            transform: 
                rotate(-45deg) 
                translateX(.1875rem)
                translateY(.1875rem);
            transform-origin: bottom left;
        }
    }
}

.burger.burger__closed{
    span{
        transition: all .3s ease-in-out;
    }
}

