@use "../base/variables" as v;

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: v.$headerHeight;
    padding: 1rem 1.5rem;
    background-color: white;
}

.navMobile{
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
        height: 2.5rem;
    }
}

.navDesktop{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul{
        display: flex;
        align-items: center;

        li:not(:last-child){
            margin-right: 1.125rem;
        }
        
        a{
            font-size: 1rem;
            transition: color .3s ease-in-out;

            &:hover{
                color: v.$grey-100;
            }
        }

        
    }
}
