@use "../base/variables" as v;

.home-header{
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 1rem 1.5rem;

    @media (min-width: 1024px) {
        justify-content: start;
       
    }

    @media (min-width: 1440px) {
         padding-left: 10rem;
    }
}

.home-hero{
    min-height: 100vh;
    width: 100%;
    
    @media (orientation: landscape) {
        display: flex;
        flex-direction: row-reverse;
    }
}

.home-hero__gallery{
    width: 100%;
    overflow: hidden;

    @media (orientation: landscape) {
        width: 50%;
    }
}

.home-hero__carousel{
    z-index: 1;
    display: flex;
    width: 500%;
    height: 100%;
    animation-name: slide;
    animation-duration: 22s;
    animation-iteration-count: infinite;
    transition: opacity .22s ease-in-out;
}

@keyframes slide {

    0%{transform: translateX(0); opacity: 1;}
    17.25%{transform: translateX(0); opacity: 1;}
    18.5%{transform: translateX(0); opacity: 0;}
    19%{transform: translateX(-20%); opacity: 0;}

    20%{transform: translateX(-20%); opacity: 1;}
    37.25%{transform: translateX(-20%); opacity: 1;}
    38.5%{transform: translateX(-20%); opacity: 0;}
    39%{transform: translateX(-40%); opacity: 0;}

    40%{transform: translateX(-40%); opacity: 1;}
    57.25%{transform: translateX(-40%); opacity: 1;}
    58.5%{transform: translateX(-40%); opacity: 0;}
    59%{transform: translateX(-60%); opacity: 0;}

    60%{transform: translateX(-60%); opacity: 1;}
    77.25%{transform: translateX(-60%); opacity: 1;}
    78.5%{transform: translateX(-60%); opacity: 0;}
    79%{transform: translateX(-80%); opacity: 0;}

    80%{transform: translateX(-80%); opacity: 1;}
    97.25%{transform: translateX(-80%); opacity: 1;}
    98.5%{transform: translateX(-80%); opacity: 0;}
    99%{transform: translateX(-100%); opacity: 0;}

    100%{transform: translateX(0%); opacity: 0;}
    
}

.home-hero__image{
   width: 20%;
   height: 100%;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   aspect-ratio: 1 / 1;

   @media (min-width: 768px) {
        aspect-ratio: 1.62 / 1;
   }
}

.home-hero__image img{
    height: 100%;
    width: auto;
}

.home-hero__title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.5rem;

    & > img:first-child{
        height: 2.375rem;
        margin-bottom: 4.5rem;
        display: none;

        @media (min-width: 1440px) {
            display: block;
        }
    }

    img{
        max-width: min(90%, 12rem);
        margin-bottom: 4.5rem;
    }

    @media (orientation: landscape) {
        max-width: 50%;
    }

    @media (min-width: 1024px){
        justify-content: end;
    }

    @media (min-width: 1440px) {
         padding-left: 10rem;
    }

    .menu-media{
        margin-top: 3rem;

        @media (min-width: 1440px) {
            margin-top: 4.5rem;
        }
    }

}

.home-hero__text{
    font-size: .875rem;
    line-height: 1.5;
    color: v.$grey-75;
    margin-bottom: 4.5rem;
    max-width: min(90%, 25rem);

    @media (min-width: "768px") {
        font-size: 1rem;
    }

    p:not(:last-child){
        margin-bottom: 1.3125rem;

    }

    @media (min-width: "1440px") {
            margin-bottom: 4.5rem;
        }
}

