@use "../base/variables" as v;

.menuMobile{
    position: fixed;
    left: 100%;
    top: 0;
    min-height: 100vh;
    width: 100%;
    background-color: v.$white-100;
    transition: left .3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 90;

    &.menuMobileOpen{
        left: 0;
    }

    a{
        font-size: 1.125rem;
        line-height: 3;

        &:last-child{
            margin-top: 3rem;
        }
    }
}