@use "../base/variables" as v;

.portfolio{
    margin-top: calc(v.$headerHeight * 2);
    width: 100%;
    padding: 1rem 1.5rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    justify-items: center;

    

    @media (min-width: 1440px) {
        padding: 1rem 10rem;
    }
}

.card-portfolio{
    position: relative;
    overflow: hidden;
    aspect-ratio: 1.62 / 1;
    width: 100%;
    img{
        width: 100%;
        height: 100%;
        transition: transform 1s ease-in-out;
        object-fit: cover;
    }

    .card-portfolio__title{
        background-color: #393d3e88;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 1;
        transition: opacity .5s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;

        h4{
            color: v.$white-100;
        }

        
    }

    &:hover .card-portfolio__title{
        opacity: 1;
        text-shadow: 0 0 1rem v.$grey-100;
    }

    &:hover img{
        transform: scale(1.1);
    }
}