@use "../base/variables" as v;

.project-detail{
    min-height: calc(100vh - (2 * v.$headerHeight));
    margin-top: calc(2 * v.$headerHeight);
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;

    @media (min-width: 1440px) {
        padding: 1.5rem 10rem;
    }

    & > img{
        max-width: 100%;
        height: auto;
    }
}

.project-detail__heading{
    h1{
        font-size: 1.125rem;
        margin: 3rem 0 1.125rem;
    }

    p{
        margin-bottom: 3rem;
        font-size: .875rem  ;
    }

    border-bottom: 1px solid v.$grey-50;
    margin-bottom: 3rem;
}

.project-detail__description{
    margin-bottom: 3rem;
    h2{
        color: v.$grey-100;
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    p{
        color: v.$grey-75;
        font-size: .875rem;
        line-height: 1.5;
    }
    
}

.project-detail__gallery{
    img{
        width: 100%;
        height: auto;
    }
    
    &> * {
        margin-bottom: 3rem;
    }
    
}