@use "../base/variables" as v;

.services-menu__desktop a.active::after {
    background-color: v.$green-100;
}

.services-hero{
    margin-top: v.$headerHeight;
    background-color: v.$green-00;
    padding: 1.5rem 2rem;

    .contained{
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;

        @media (min-width: 767px) {
            display: flex;
            align-items: center;
            gap: 2rem;
            padding: calc(v.$headerHeight / 2) 0;

            > *{
                flex-basis: 50%;
            }
        }
    }
}

.services-heading{
    h1{
        margin: 0 0 3.75rem;
        font-size: 3.75rem;
        color: v.$green-100;

        @media (min-width: 1440px) {
            font-size: 4.5rem;
        }

        @media (min-width: 768px) {
            margin: 0;
        }
    }
}

.services-description{
    h3, p{
        color: v.$green-100;
    }

    h3{
        font-size: 1.125rem;
        margin: 0 0 1.6875rem;
    }

    p{
        font-size: .875rem;
        line-height: 1.5;

        &:not(:last-child){
            margin-bottom: 1.1875rem;
        }
        
    }
}

.services-menu__mobile{
    
    ul{
        
        display: block;
        height: 0;
        text-align: center;
        transition: height .3s ease-in-out;

        li{
            height: 0;
            opacity: 0;
            transition: opacity .3s ease-in, height .3s ease-in-out;
            
        }

        @media (min-width: 768px) {
            display: flex;
            padding: 1rem 2rem;

            li:not(:last-child){
                margin-right: 2rem;
            }
        }
    }

    ul a{
        display: inline-block;
        line-height: 2;
        font-size: 1rem;
    }
}



.services-menu__mobile.nav-open{
    
    ul{
        padding-top: 3rem;
        height: 13.5rem;
        @media (min-width:768px) {
            height: 1.75rem;
        }
        li{
            height: 28px;
            display: block;
            opacity: 1;
        }
    }

    div{
        margin-bottom: 1rem;
    }

}

.services-menu__desktop{
    height: calc(v.$headerHeight * 2);
    padding: 1rem 2rem;
    display: flex;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    @media (min-width:1440px) {
        padding: 1rem 0;
    }
    a{
        font-size: 1rem;
        color: v.$green-100;

        &:not(:last-child){
            margin-right: 2rem;
        }
    }
}



.service{
    padding: 1.5rem 2rem;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 1024px) {
        display: flex;
        gap: 2rem;

        & > *{
            flex-basis: 50%;
        }
    }

    @media (min-width: 1440px) {
        padding: 1.5rem 0;
    }
}

.service__heading{
    margin-bottom: 3rem;
    h2{
        color: v.$green-75;
        font-size: 3rem;
        margin-bottom: 3rem;
    }

    p{
        font-size: .875rem;
        line-height: 1.5;
        color: v.$grey-75;
        max-width: 40rem;

        &:not(:last-child){
            margin-bottom: 1.3125rem;
        }
    }

    @media (min-width: 1024px) {
        position: sticky;
        top: 40%;
        margin-bottom: 0;
        height: 100%;
    }

    
}

.service__description{
    color: v.$grey-75;
    
}


.service__list{
    

    h3{
        font-size: 1.125rem;
        margin-bottom: 1.8125rem;
        &+ p{
            margin-bottom: 1.8125rem;
        }
    }

    p{
        font-size: .875rem;
    }

    ul{
        font-size: .875rem;
        line-height: 1.5;
        list-style: square;
        margin-bottom: 1rem;
        margin-left: 1rem;

        li:not(:last-child){
            margin-bottom: 1rem;
        }
    }

    p{
        &:last-child{
            color: v.$purple-50 ;
            font-style: italic;
            margin-bottom: 1.8125rem;
        }
    }
}
.service__list:not(:last-child){
    margin-bottom: 4.5rem;
    border-bottom: .5px solid v.$grey-50;
}




